[submodule "third_party/ActivityNet"]
	path = mmaction/third_party/ActivityNet
	url = https://github.com/zhaoyue-zephyrus/ActivityNet
[submodule "mmaction/third_party/decord"]
	path = mmaction/third_party/decord
	url = https://github.com/zhreshold/decord.git
	branch = master
